%margin-0 {
	margin: 0;
}
%padding-0 {
	padding: 0;
}
%display-none {
	display: none;
}
%display-block {
	display: block;
}
%display-inline-block {
	display: inline-block;
}
%text-transform-uppercase {
	text-transform: uppercase;
}
%text-align-center {
	text-align: center;
}
%text-decoration-none {
	text-decoration: none;
}
%text-decoration-underline {
	text-decoration: underline;
}
%background-grau {
	background: $grau;
}
%background-weiss {
	background: $weiss;
}
%color-weiss {
	color: $weiss;
}
%color-text-color {
	color: $text-color;
}
%color-text-color-dark {
	color: $text-color-dark;
}