*, ::after, ::before {
  box-sizing: inherit;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font: normal normal 300 16px / 1.5 "droid_serifregular", "Arial", "Helvetica", sans-serif;
}
